.counterContainer{
width: 100vw;
height: 50vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 2rem;
}
.counter{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #293462;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}